
html, body, h1
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial",sans-serif;
    font-weight: 400;

}

#page-home header h1{
    display: inline;
    color: #e74c3c;
    font-size: 30px;
    z-index: 1;
    margin-left: 12px; 
}
#page-home header .logo{
 
}
#page-home header .link{
    float: right;
    margin-top: 12px;
    text-decoration: none;
    color: white;
    margin-right: 2px;

   
}
#page-home header
{   
    background-color:black;
    margin-bottom: 10px;
    padding-bottom: 12px;
    
}

#page-home .container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-row-gap: 10px; 
   overflow: hidden;
  
}


.poster
{ 
    width: 200px;
    margin: 0 auto; 
    border:  1px solid black;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    
}
.poster:nth-child(1)
{
    
}
@media(max-width: 1024px)
{
    body{
        background-color: yellow;
    }
    .poster{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}
@media (max-width:848px){
    #page-home .container
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media(max-width: 625px){
   #page-home .container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-left: 10px;
    }
    @media (max-width:446px) {
        #page-home .container{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}