@font-face {
    src: url(../fonts/njnaruto.ttf);
    font-family: 'njnaruto';
    font-weight: normal;
}

@font-face {
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

html, body, h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

#page-home header h1 {
    display: inline;
    color: #f59c3d;
    font-size: 30px;
    position: relative;
    left: 22%;
    top: 1vh;
    font-family: 'njnaruto';

}

#page-home header {
    background-color: black;
    border-bottom: black 01px solid;
    margin-bottom: 10px;
    padding-bottom: 12px;
}

i {
    color: white;
}

.navegacao {
    display: inline;
    color: white;
    justify-content: center;
}

.navegacao li {
    display: inline;
    position: relative;
    left: 22%;
    padding: 12px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

.navegacao li a {
    text-decoration: none;
    color: white;
}

#page-home .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    overflow: hidden;
}

.icon-bar {
    display: none;
}

.pesquisa
{
    width: 100px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 10px;
    float: right;
  
}
#texto
{
    width: 150px;
    height: 20px;
    float: left;
    font-family: 'Poppins' , sans-serif;
    font-size: 12px;
    border-radius: 40px;
}
.btn
{
    width: 20px;
    height: 20px;
    padding: 0 5px;
    cursor: pointer;
    border-radius: 40px;
   
}
#text:focus{
    border: solid 2px #1f4550;
}
.poster {
    width: 121px;
    margin: 0 auto;
    border: 1px solid black;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}