@font-face {
    src: url(../fonts/njnaruto.ttf);
    font-family: 'njnaruto';
    font-weight: normal;
}
@font-face
{
    src: url('../fonts/Poppins-Light.ttf');
    font-family: 'Poppins';
    font-weight: 100;
}

@font-face {
    src: url(../fonts/Roboto-Regular.ttf);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

@media(max-width: 1024px) {
    body {
        background-color: red;
    }
    .poster {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    
}

@media (max-width: 870px)
{
    body {
        background-color: yellow;
    }
    #page-home .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
    }
    #page-home header h1
    {
        left: 40%;
    }
    .navegacao li {
        display: none;
    }
    .icon-bar i
    {
        font-size: 23px;    
        
    }
    .icon-bar{
        display: inline;
        margin-left: 2px;
        padding-right: 10px;
        cursor: pointer;
       
        
    }
    #texto
    {
        display: none;
    }
}

@media (max-width:728px) {
    body {
        background-color: blue;
    }
   #page-home header{
    max-width: 100%;
   }
    #page-home header h1 {  
        left: 45%;
    }
    .navegacao li {
        display: none;
    }
}

@media(max-width: 625px) {
    body {
        background-color:black;
    }
    
    #page-home .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
    }
    #page-home header h1 {
       left: 29%;
    }
}

@media (max-width: 446px) {
 

    #page-home .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #page-home header h1 {
        font-family: 'njnaruto';
        display: inline;
        left: 27%;
    }
    #page-home header .link {
        float: right;
        margin-top: 12px;
        text-decoration: none;
        color: white;
        margin-right: 2px;
    }
    .item
    {
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        margin:0;
        width: 100px;
    }
    .poster{
        width: 116px;
    }
    .calendar
    {
       color: white;
       font-size: 20px;
       font-family: 'Poppins';
       margin: 5px;
       border-left: red solid 3px;
        
    }
     .sub-home
   {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
   }
}
